@font-face {
	font-family: StupidFont;
	src: url(../font/Stupid.ttf);
}

body {
	background-color: #000000;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	font-family: StupidFont;
}

#render-canvas {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    /*top: 40px; */
    top: 0;
    left: 0;
    
    -webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-o-transition: opacity 2s;
	-ms-transition: opacity 2s;       
	transition: opacity 2s;
	opacity: 1;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}


#render-canvas:-webkit-full-screen {
    background-color: black !important;
}

#blocker {
	position: absolute;
	width: 100%;
	height: 100%;
}

#instructions {
	width: 100%;
	height: 100%;
	text-align:center;
	cursor: pointer;
}

#instructions:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#instructions img {
  vertical-align: middle;
  display: inline-block;
  opacity: 0.9;
}

a {
	color: #09ddcb;
}

h1, h2 {
	color: #ffffff;
}

h1 {
	margin-top: 0;
}

input[type=text] {
	text-align: center;
}

#splashPage {
	/*position: absolute;*/
	left:0; right:0; top:0; bottom:0;
	margin: auto;
	padding: 2em;	
	line-height: 26px;
	text-align:center;

	font-size:16pt;
	background: url("../images/sleep_poster_color.gif") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	overflow: hidden;

	z-index: 100;
}

#aboutPage {
	left:0; right:0; bottom:0; /*top:0; */
	/*margin: auto;*/
	padding: 5px;	
	/*padding-left: 1em;
	padding-right: 1em;*/
	text-align: center;
	font-size: 16pt;
	background-color: #ffffff;
	/*overflow: scroll;*/
	/*-webkit-overflow-scrolling: touch;*/

	z-index: 200;
}

#aboutPageDetail {
	text-align: left;
	/*padding-bottom: 1em;*/
}

#instructionDetail {
	/*width: 100%;
	padding: 0;*/
}

#creditDetail {
	/*overflow: scroll !important;
	-webkit-overflow-scrolling: touch;*/
}

.insImg {
	width: 32.5%;
}

.infoBlock {
	background-color: #ffffff;
	z-index: 3000; /* Sit on top */
	/*margin: 0 auto;*/
	position: fixed;
	left: 10%;
	top: 15%;
	width: 80%;
	height: 70%;
	overflow: auto;
	font-size: 1.2em;
	-webkit-overflow-scrolling: touch;
}

.infoText {
	margin: 1em;
}

#creditText {
	font-size: 1em;
	-moz-column-count: 5;
	-moz-columns: 5;
	-webkit-columns: 5;
	columns: 5;
}

/* The Close Button */
.closeContainer {
	float: right;
	width: 20px;
}
.close {
    color: #09ddcb;
    font-size: 28px;
    font-weight: bold;
    position: fixed;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

/* WebVR-UI */
#vr-ui {
	color: white;
	text-align: center;
	z-index: 1;

	position: absolute;
	/*top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);*/
	/*min-width: 300px;*/
	right: 5px;
	bottom: 5px;
}

#vr-button {
	/*margin-top: 40px;*/
	/*margin-bottom: 20px;*/
}

#vr-exit {
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
	color: white;
	font-size: 25px;
	text-decoration: none;
	z-index: 2;
}

#vr-learn-more {
	display: none;
}

/* For width 500px and smaller: */
@media only screen and (max-width: 500px) {
	#splashPage {
		padding: 1em;
	}
    .insImg {
		width: 100%;
		/*height: 32.8%;*/
	}
	/*#aboutPageDetail {*/
		/*max-height: 600px;*/
		/*overflow-y: scroll !important;*/
	/*}*/
	/*#instructionDetail {*/
		/*max-height: 600px;*/
		/*overflow-y: scroll !important;*/
	/*}*/
	/*#creditDetail {*/
		/*max-height: 600px;*/
		/*overflow-y: scroll !important;*/
	/*}*/

	#creditText {
	-moz-column-count: 1;
	-moz-columns: 1;
	-webkit-columns: 1;
	columns: 1;
}
}