<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    {% for str in data.dependencies -%}
    	{% autoescape false %}{{ str }}{% endautoescape %}
    {%- endfor %}
    {% for str in data.share -%}
    	{% autoescape false %}{{ str }}{% endautoescape %}
    {%- endfor %}
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://www.gstatic.com/firebasejs/4.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.5.0/firebase-database.js"></script>
</head>

<body>
    {% for str in data.header -%}
    	{% autoescape false %}{{ str }}{% endautoescape %}
    {%- endfor %}

    <div id="render-canvas" style="display:none;"></div>
    
    <script type="text/javascript" src="js/lib/three.js"></script>

    <!-- WebVR -->
    <script src="js/lib/effects/VREffect.js"></script>
    <script src="js/lib/webvr-polyfill.js"></script>
    <!-- <script src="js/lib/webvr-manager.js"></script> -->
    <script src="js/lib/webvr-ui.js"></script>

    <script type="text/javascript" src="js/lib/Detector.js"></script>
    <script type="text/javascript" src="js/lib/inobounce.js"></script>
    <script type="text/javascript" src="js/lib/TweenMax.min.js"></script>
    <script type="text/javascript">

    var hasInternet = true;

    // FIREBASE
    var fireVisit = 0, fbDatabase, visitDataRef, fbDatabaseRef;
    if(hasInternet){
	    var fbConfig = {
	        databaseURL: "https://sleep-together.firebaseio.com/"
	    };
	    firebase.initializeApp(fbConfig);
	    fbDatabase = firebase.database();
	    fbDatabaseRef = fbDatabase.ref();
	    visitDataRef = fbDatabase.ref("totalVisit");
	    visitDataRef.on("value", function(snapshot) {
	        fireVisit = snapshot.val().visit_count;
	        console.log("firevisit: " + fireVisit);
	    });
	}

    //device detection
    //source: http://stackoverflow.com/questions/3514784/what-is-the-best-way-to-detect-a-mobile-device-in-jquery
    var isMobile = false; //initiate as false
    var whichMobile = "";
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        isMobile = true;
    }
    console.log("isMobile: " + isMobile);

    // tell android or iOS
    if (/Android/i.test(navigator.userAgent)) {
        console.log("I'm android!");
        whichMobile = "android";
    }
    if (/iPhone|iPad|iPod/i.test(navigator.userAgent)) {
        console.log("I'm iOS!");
        whichMobile = "iOS_mobile";
    }

    // if it's desktop, create click.gif div for PointerlockAPI
    if (!isMobile) {
        var clickDiv = document.createElement('div');
        clickDiv.id = "blocker";
        clickDiv.style = "display: none;";
        document.getElementsByTagName("body")[0].appendChild(clickDiv);

        var fingerImg = document.createElement('img');
        fingerImg.setAttribute("src", "images/click.gif");
        fingerImg.setAttribute("width", "60");
        fingerImg.setAttribute("height", "60");
        var ins = document.createElement('div');
        ins.id = "instructions";
        ins.appendChild(fingerImg);

        clickDiv.appendChild(ins);
    }

    // DETECT
    if (!Detector.webgl) Detector.addGetWebGLMessage();

    //
    function byId(_id) {
        return document.getElementById(_id);
    }

    function byClass(_class) {
        return document.getElementsByClassName(_class);
    }

    var renderCanvas = byId("render-canvas");
    var blockerDiv = byId("blocker");

    renderCanvas.style.opacity = 0;
    </script>

    <script type="text/javascript" src="js/setup_sleep.js"></script>

    <div id="splashPage" style="display:block; position:absolute; top:65px; opacity: 0;">
    	<img class="trans" id="bgImage" src="images/sleep_poster_color_V3.gif">
        <h1>Sleep Together</h1>
        <div id="introTextGroup">
        	<!-- <div class="introText" style="display: none; opacity: 0;">
	        	<b><ins>"An Instruction For Your Mind"</ins></b>
	        </div> -->
	        <div class="introText" style="display: none; opacity: 0;">
	        	Sleep sleep sleep
	    		<br>
	    		Everyone needs some sleep
	        </div>
	        <div class="introText" style="display: none; opacity: 0;">
	        	If I don't want to sleep alone
	    		<br>
	    		Where can I go to sleep?
	        </div>
	        <div class="introText" style="display: none; opacity: 0;">
	        	If I don't want to breathe alone
	    		<br>
	    		Are you willing to breathe with me?
	        </div>
	        <div class="introText" style="display: none; opacity: 0;">
	        	Sleep sleep sleep
	    		<br>
	    		(breathe breathe breathe)
	        </div>
        </div>
        <div class="trans" id="inputGroupt" style="display: none;">
        	<input type="text" id="playerName" placeholder="Who is this sleepyhead?" style="width:20em;height:2em"></input>
	        <img id="loadingImg" src="images/loadingbox.gif" width="60" height="60" style="margin:0 auto; display:block;">
	        <div id="loadingTxt" style="color:yellow">loading</div>
	        <p></p>
	        <a id="startLink" style="display:none; color:#0af5e1; cursor:pointer;" onclick="startToShowInstruction();">Enter</a>
        </div>        
    </div>
    <div id="aboutPage" style="display:block; position:absolute; opacity: 0;">
        <a class="aboutLink" id="aboutPageTitle" style="cursor:pointer; color:#fc81a6" onclick="ToggleAbout();">/// About ///</a>
        <!-- <a class="aboutLink" id="instructionTitle" style="cursor:pointer; text-decoration: underline; color:#000000" onclick="ToggleInstruction();">Instruction</a> -->
        <!-- <a class="aboutLink" href="..." target='_blank'>Dev Blog</a> -->
    </div>
    <div id="infoBG" style="display:none;"></div>
    <div class="infoBlock" id="aboutPageDetail" style="display:none;">
    	<div class="closeContainer">
        	<div class="close" onclick="ToggleAbout();">&times;</div>
        </div>
    	<div class="infoText">
    		<p style="font-size: 1.3em;">/// VERY VERY SHORT ///</p>
	        <p>Life is short. Now more than ever. We want it all. We want it now. Right away. Very very short is a collection of 10 interactive projects for smartphones, exploring the theme of mobility through very, very short experiences – all under 60 seconds. A NFB and ARTE coproduction, in collaboration with IDFA DocLab.</p>
	        <br>
    		<p style="font-size: 1.3em;">/// SLEEP TOGETHER ///</p>
	        <p>Sleep Together is a virtual reality group experience for people to use before going to sleep. In 60 seconds, visitor (a.k.a. sleeper) will go through a series of ritual for sleep, with other sleepers floating in a comfy nest, breathing together.</p>
	        <br>
	        <p style="font-size: 1.3em;">/// CREDITS ///</p>
	        <b><ins>CREATION</ins></b>
            <br>
            <br>
            <b>Creator</b>
            <br>
            Laura Juo-Hsin Chen
            <br>
            <br>
            <b>Sound Record and Mental Support</b>
            <br>
            Andy Sigler
            <br>
            <br>
            <b><ins>ONF / NFB</ins></b>
            <br>
            <br>
            <b>Executive Producer</b>
            <br>
            Hugues Sweeney
            <br>
            <br>
            <b>Production Managers</b>
            <br>
            Marie-Pier Gauthier
            <br>
            Nathalie Bédard Morin
            <br>
            <br>
            <b>Editorial Manager</b>
            <br>
            Valérie Darveau
            <br>
            <br>
            <b>Technology Director</b>
            <br>
            Martin Viau
            <br>
            <br>
            <b>Production Coordinators</b>
            <br>
            Caroline Fournier
            <br>
            Claudia Boutin
            <br>
            Dominique Brunet
            <br>
            <br>
            <b>Administrator</b>
            <br>
            Marie-Andrée Bonneau
            <br>
            <br>
            <b>Marketing Manager</b>
            <br>
            Tammy Peddle
            <br>
            <br>
            <b>Marketing Coordinator</b>
            <br>
            Florent Prevelle
            <br>
            <br>
            <b>Social Media Strategist</b>
            <br>
            Kate Ruscito
            <br>
            <br>
            <b>Web Content Project Manager</b>
            <br>
            Félix-Antoine Viens
            <br>
            <br>
            <b>Press Relations</b>
            <br>
            Marie-Claude Lamoureux
            <br>
            Pat Dillon
            <br>
            <br>
            <b>Information Technologies</b>
            <br>
            Sergiu Suciu
            <br>
            <br>
            <b>Legal Services</b>
            <br>
            Peter Kallianiotis
            <br>
            <br>
            <b><ins>ARTE France</ins></b>
            <br>
            <br>
            <b>Digital Development Chief</b>
            <br>
            Gilles Freissinier
            <br>
            <br>
            <b>Editorial Manager</b>
            <br>
            Marianne Levy-Leblon
            <br>
            <br>
            <b>Program Producers</b>
            <br>
            Marie Berthoumieu
            <br>
            Emilie Bessard
            <br>
            <br>
            <b>Head of Project Management</b>
            <br>
            Stéphane Nauroy
            <br>
            <br>
            <b>Community manager</b>
            <br>
            Léa Jagut
            <br>
            <br>
            <b>Administrator</b>
            <br>
            Jerôme Vernet
            <br>
            <br>
            <b>ARTE France Développement</b>
            <br>
            <b>Production Managers</b>
            <br>
            Claire Aubret
            <br>
            Angèle Le Névé
            <br>
            <b>Assisted by</b>
            <br>
            Juliette Droillard
            <br>
            <br>
            <b>Translation</b>
            <br>
            Christian Stonner
            <br>
            <br>
            <b>ARTE Studio Lab Responsibles</b>
            <br>
            Clément Dhamelincourt
            <br>
            <b>Technical Manager</b>
            <br>
            Vincent Chagny
            <br>
            <b>Project Manager</b>
            <br>
            Noé Daudin-Clavaud
            <br>
            <br>
            <b><ins>IDFA DocLab</ins></b>
            <br>
            <br>
            <b>Call for Projects</b>
            <br>
            Caspar Sonnen
			<br>
			Wotienke Vermeer
			<br>
			Michael Zbieranowski
			<br>
            <br>
            <b><ins>Acknowledgements</ins></b>
            <br>
            <br>
			Caspar Sonnen - IDFA DocLab
			<br>
			Ziv Schneider - New Media Artist
			<br>
			Jouke Vuurmans - Media Monks
			<br>
			Julia Kaganskiy - New Museum
			<br>
			Myriam Achard - PHI Center
			<br>
			Florent Maurin - The Pixel Hunt
			<br>
			Jepchumba - Digital Artist and Curator
			<br>
			Marie Berthoumieu - ARTE
			<br>
			Hugues Sweeney - ONF / NFB / National Film Board of Canada
			<br>
			<br>
			Rafaella Wang
			<br>
			Zina Kisch
            <br>
            <br>
            Sam Lavigne for inspiration on DailyLifeVR of Useless Press
            <br>
            Brandon Jones and
            <br>Vladimir Vukicevic for WebVR spec
            <br>
            Boris Smus for WebVR polyfill and boilerplate
            <br>
            Ricardo Cabello for THREE.js
            <br>
            <br>
            <br>
            © ARTE  FRANCE - ONF 2017
        </div>
    </div>
    <div class="infoBlock trans" id="instructionDetail" style="display:none;">
    	<div class="infoText">
    		<!-- <div style="text-align: center;">
		    	<b><ins>"An Instruction For Your Phone"</ins></b>
		    </div> 
		    <br> -->
	    	<img class="insImg" src="images/instructions/instruction_sound_tap.jpg">
			<img class="insImg" src="images/instructions/instruction_move.jpg">
			<br>
			<div style="position: absolute; bottom: 1em; left: 0; right: 0;">
				<a class="roundButton" style="cursor:pointer; background-color: black; color:#0af5e1;" onclick="ToggleVR();">OK</a>
			</div>
    	</div>
    </div>
    <div class="infoBlock trans" id="vrOption" style="display:none;">
    	<div class="infoText">
    		<div style="text-align: center;">
	    		<b><ins>How do you want to sleep?</ins></b>
	    		<br>
	    		<br>
	    		<div id="vrImgWrapper">
		    		<div class="vrImg">
						<img id="yesVR" style="width: 35%;" src="images/instructions/instruction_vr.png" onclick="chooseVRmode();">
						<br>in VR mode
					</div>
					<div class="vrImg">
						<img id="noVR" style="width: 35%;" src="images/instructions/instruction_nonvr2.png" onclick="chooseNonVRmode();">
						<br>in nature mode
					</div>
				</div>
				<br>
			</div>
			<div style="position: absolute; bottom: 1em; left: 0; right: 0;">
				<a class="roundButton" id="vrToStart" style="cursor:pointer; background-color:black; color:grey;" onclick="getNameToStart();">START</a>
			</div>
    	</div>
    </div>
    <div class="infoBlock trans" id="goodbyeMsg" style="display:none; background-color: black; color:white;">
    <div class="infoText" id="goodbyeText" style="position: relative; top: 50%; text-align: center;">
        <div id="closeText" style="display: none;">
            Why wake up from that
            <br> sweet sleep mode?
            <br>
            <br> Close your eyes,
            <br> I'll see you another night.
        </div>
        <div id="byeText">
            Sleep tight.
            <br> See you another sleepless night.. Z z z
        </div>
    </div>
    <div style="position: absolute; bottom: 0; left: 0; right: 0; text-align: center;">
    	<a style="cursor:pointer; color:#0af5e1; text-decoration: underline;" onclick="reloadPage();">Actually.. I'm not sleepy!</a>
    </div>
</div>

    <!-- WebVR UI -->
    <div id="vr-ui">
    	<div id="vr-button"></div>

    	<div id="vr-help">
    		<span id="vr-learn-more">
	    		<a href="http://webvr.info" target="_blank">Get set up in VR.</a>
	    	</span>
    	</div>
    </div>
    <a href="#" id="vr-exit" onclick="enterVR.requestExit();">x</a>

    <img id="vr-enter-circle" style="display: none;" src="images/entervr.png" onclick="enterVR.requestEnterVR();">
    <img id="vr-fullscreen-circle" style="display: none;" src="images/enterFullS.png" onclick="enterVR.requestEnterFullscreen();">

    <script>
    var final_statistic = {};
    final_statistic.sleeperCount = 0;
    final_statistic.totalVisit = 0;
    final_statistic.totalEyeContact = 0;
    final_statistic.lookAtOthers = {};
    final_statistic.othersLookAtMe = {};
    final_statistic.practiceCount = 0;
    var heartFromMeCount = 0;

    var loadingImg = byId("loadingImg");
    var loadingTxt = byId("loadingTxt");
    var startLink = byId("startLink");
    var playerNameInput = byId("playerName");

    var splashPage = byId("splashPage");
    // var finalBG = byId("finalBG");
    // var finalStat = byId("finalStat");
    var bgImage = byId("bgImage");
    var onfHeader = byId("header");
    var arteHeader = byId("arte-header");
    var vrEnterCircle = byId("vr-enter-circle");
    var vrFullscreenCircle = byId("vr-fullscreen-circle");

    var playerNName = "";
    var readyToStart = false, chooseVRtoStart = false;
    var enableStart = true;

    var getNameToStart = function() {
    	if(!chooseVRtoStart)
    		return;

    	if(isMobile)
	    	ToggleVR();	// turn off

        if (playerNameInput.value == playerNName) {
            playerNName = "Anonymous";
        } else {
            playerNName = playerNameInput.value;
        }
        final_statistic.playerName = playerNName;

        renderCanvas.style.display = "inline";
        renderCanvas.style.opacity = 1;

        if (blockerDiv) blockerDiv.style.display = "-webkit-box";

        splashPage.style.display = "none";
        aboutPage.style.display = "none";
        aboutPage.style.height = '';
        aboutDetail.style.display = "none";
        showAbout = false;

        lateInit();

        if(isMobile) {
        	if(chooseVRimg){
	        	enterVR.requestEnterVR();
        	}
	        else{
	        	enterVR.requestEnterFullscreen();
	        }
        }

        // Remove Events
        window.removeEventListener('keydown', myFakeEnter, false);
        if (!isMobile) {
            window.removeEventListener('click', closeInfoDiv, false);
        } else {
            window.removeEventListener('touchstart', closeInfoDiv, false);
        }
    }

    var startToShowInstruction = function () {
    	if(!enableStart)
    		return;
    	aboutPage.style.opacity = 0;
    	ToggleInstruction();
    }

    // ABOUT_PAGE
    var showAbout = false,
        showInstruction = false,
        showVRoption = false;
    var aboutDetail = byId("aboutPageDetail");
    var aboutTitle = byId("aboutPageTitle");
    var instructDetail = byId("instructionDetail");
    var instructTitle = byId("instructionTitle");
    var vrOption = byId("vrOption");
    var infoBG = byId("infoBG");
    var yesVR = byId("yesVR");
    var noVR = byId("noVR");
    var vrToStart = byId("vrToStart");
    var chooseVRimg = false, chooseNonVRimg = false;
    var goodbyeMsg = byId("goodbyeMsg");

    // → ← ↑ ↓
    var ToggleAbout = function() {
        showAbout = !showAbout;

        if (showAbout) {
        	infoBG.style.opacity = 1;
        	// infoBG.style.height = "100%";
        	infoBG.style.display = "block";

            aboutDetail.style.display = "block";
            enableStart = false;
        } else {
        	infoBG.style.opacity = 0;
        	aboutDetail.style.display = "none";
            
            setTimeout(function () {
            	if(!showAbout && !isAllOver){
            		infoBG.style.display = "none";
            		console.log("infoBG --> none");
            		enableStart = true;
            	}
            }, 1000);
        }
    }
    var ToggleInstruction = function() {
        showInstruction = !showInstruction;

        if (showInstruction) {
        	infoBG.style.display = "block";
        	instructDetail.style.display = "block";
        	// infoBG.style.height = "100%";
        	instructDetail.style.height = "75%";
        	vrOption.style.height = "75%";
        	
            setTimeout(function () {
            	infoBG.style.opacity = 1;
            	instructDetail.style.opacity = 1;
            	doIntroAnimation = false;
            }, 100);

        } else {
        	infoBG.style.opacity = 0;
            instructDetail.style.opacity = 0;
            setTimeout(function () {
            	if(!showInstruction && !isAllOver) {
	            	infoBG.style.display = "none";
	            	console.log("infoBG --> none");
            	}
            	instructDetail.style.display = "none";
            }, 1000);
        }
    }
    var ToggleVR = function() {

    	if(!isMobile){
    		chooseVRtoStart = true;
    		getNameToStart();

    		instructDetail.style.opacity = 0;
    		infoBG.style.opacity = 0;
    		setTimeout(function () {
            	instructDetail.style.display = "none";
            	infoBG.style.display = "none";
            }, 1000);
    		return;
    	}

        showVRoption = !showVRoption;

        if (showVRoption) {
        	instructDetail.style.opacity = 0;
        	vrOption.style.display = "block";
        	
            setTimeout(function () {
            	vrOption.style.opacity = 1;
            }, 100);
            setTimeout(function () {
            	instructDetail.style.display = "none";
            }, 1000);
        } else {
        	infoBG.style.opacity = 0;
            vrOption.style.opacity = 0;
            setTimeout(function () {
            	if(!showVRoption && !isAllOver){
	            	infoBG.style.display = "none";
	            	vrOption.style.display = "none";
	            }
            }, 1000);
        }
    }
    var chooseVRmode = function () {
    	chooseVRimg = !chooseVRimg;
    	if(chooseVRimg) {
    		yesVR.src = "images/instructions/instruction_vr_select.png";
    		if(chooseNonVRimg){
    			chooseNonVRimg = false;
    			noVR.src = "images/instructions/instruction_nonvr2.png";
    		}
    	} else {
    		yesVR.src = "images/instructions/instruction_vr.png";
    	}
    	checkForStart();
    }
    var chooseNonVRmode = function () {
    	chooseNonVRimg = !chooseNonVRimg;
    	if(chooseNonVRimg) {
    		noVR.src = "images/instructions/instruction_nonvr2_select.png";
    		if(chooseVRimg){
    			chooseVRimg = false;
    			yesVR.src = "images/instructions/instruction_vr.png";
    		}
    	} else {
    		noVR.src = "images/instructions/instruction_nonvr2.png";
    	}
    	checkForStart();
    }
    var checkForStart = function () {
    	if(chooseNonVRimg || chooseVRimg){
    		chooseVRtoStart = true;
    		vrToStart.style.color = "white";
    	}
    	else
    	{
    		chooseVRtoStart = false;
    		vrToStart.style.color = "grey";
    	}
    }
    //////////////////////////////////////////////////////////////////
    bgImage.src = "";
    var showIntroTween = new TimelineMax();
    var doIntroAnimation = true;
    showIntroTween.staggerTo(".introText", 1, {
    	opacity: 1, repeatDelay: 1, repeat: 1, yoyo: true,
    	onStart: introTweenStart, onStartParams:["{self}"],
    	onComplete: introTweenComplete, onCompleteParams:["{self}"]
    }, 3.5, "+=4", introCompleteAll);
    function introTweenStart(tween) {
    	tween.target.style.display = "block";
    }
    function introTweenComplete(tween) {
    	tween.target.style.display = "none";
    }
    function introCompleteAll() {
    	// console.log(showIntroTween);
    	// if(doIntroAnimation)
	    // 	showIntroTween.restart();

	    //V.2
	    // splashPage.style.background = "url('../images/sleep_poster_color_V3.gif') no-repeat center center fixed";
	    // splashPage.style.backgroundSize = "cover";

	    //V.3
	    bgImage.src = "images/sleep_poster_color_V3.gif";
	    inputGroupt.style.display="";
	    setTimeout(()=>{
	    	inputGroupt.style.opacity=1;
	    	bgImage.style.opacity=1;
	    },100);	    
	    
    }
    //////////////////////////////////////////////////////////////////
    if (!isMobile) {
        window.addEventListener('click', closeInfoDiv, false);
    } else {
        window.addEventListener('touchstart', closeInfoDiv, false);
    }

    function closeInfoDiv(event) {
    	console.log(event.target);
        if (event.target == infoBG) {
            // console.log("click splashPage");
            if (showAbout) ToggleAbout();
            if (showInstruction) ToggleInstruction();
            // if (showCredit) ToggleCredit();
        }
    }

    window.addEventListener('keydown', myFakeEnter, false);

    function myFakeEnter(event) {
        if (!readyToStart) return;

        switch (event.keyCode) {
            case 13: //enter
                getNameToStart();
                break;
        }
    }

    // ================== WEBSOCKETS ===================
    var socket = null;
    var socketOpened = false;

    var host;
    var ws;
    var camID = 0,
        addNewPlayerYet = false;
    var updatePreviousPlayer = false;

    var whoIamInLife = -1,
        initEnvironment = false;
    var meInWorld = -1;
    var totalPplInWorldsCount = 0,
        totalVisitCount = 0;
    var fullhouse = false,
        showAniPpl = false,
        showAniPplNumber = 4,
        doPplAni = false;
    var fullHouseDef = 7;
    var strictToCelePplNumber = 3,
        strictToCele = false;

    var currentPplAmount = 0;

    var knowMyIndex = false;
    //
    var trulyFullyStart = false;

    function connectSocket() {
        currentPplAmount++;

        host = location.origin.replace(/^http/, 'ws');
        ws = new WebSocket(host);

        ws.onopen = function() {
            console.log("Our beds are connected!");

            /* Connect this new player to every player*/
            /* JUST ONCE! */
            // -MOVED- @DeviceControls.js for dynamically creation
        }

        ws.onmessage = function(msg) {

            if (isAllOver)
                return;

            var data = JSON.parse(msg.data);

            if (data.type != "index" && !trulyFullyStart) return;

            if (data.type == 'addNewPlayer') {

                // If this is not ME && processed by server
                if (data.id != whoIamInLife && data.camID > 0) {

                    // If we are in the same world, create player
                    if (data.worldId == meInWorld) {
                        console.log("Got a new player, id: " + data.id);

                        // Create Player
                        var newPlayerStartPos = new THREE.Vector3(data.playerStartX, data.playerStartY, data.playerStartZ);
                        var newPlayerStartRotY = data.playerStartRotY;

                        var newGuy = new PersonSleep(newPlayerStartPos, data.myHex, data.id, data.nname, null);

                        dailyLifePlayerDict[data.id] = newGuy;

                        currentPplAmount++;
                    }

                    // update sleeper counting of this world(nest) & total worlds
                    UpdatePplCount(Object.keys(dailyLifePlayerDict).length, data.totalCount, fireVisit);
                    totalPplInWorldsCount = data.totalCount;
                    totalVisitCount = fireVisit;

                    final_statistic.sleeperCount ++;
                    final_statistic.totalVisit = totalVisitCount;
                }
            }

            // Index of ME in the world (assigned by server)
            // Get to know whom I am
            if (data.type == "index") {

                /* ONLY ONCE */
                if (!knowMyIndex) {

                    whoIamInLife = data.index;
                    meInWorld = data.worldId;
                    totalVisitCount = fireVisit;
                    final_statistic.totalVisit = totalVisitCount;

                    console.log("I am #" + whoIamInLife + " in the #" + meInWorld + " Sleep-Together world, with total visit: " + totalVisitCount);

                    AssignIndex();

                    knowMyIndex = true;
                }
            }

            var playerPosX, playerPosY, playerPosZ, playerRotY, playerQ, playerQ3;
            // update player ONLY IF we are in the same world
            if (data.type == "updatePlayer" && data.worldId == meInWorld) {
                playerPosX = data.playerPosX;
                playerPosY = data.playerPosY;
                playerPosZ = data.playerPosZ;
                playerRotY = data.playerRotY;
                playerQ = new THREE.Quaternion(data.playerQ._x, data.playerQ._y, data.playerQ._z, data.playerQ._w);

                if (dailyLifePlayerDict[data.index] && data.index != whoIamInLife) {
                    // v.2 interpolation
                    dailyLifePlayerDict[data.index].updateReal(playerPosX, playerPosY, playerPosZ, playerQ);
                }
            }

            // update chewing ONLY IF we are in the same world
            if (data.type == "chew" && data.worldId == meInWorld) {

                // only chew if it's not MY DATA, cuz I've already chew
                if (data.index != whoIamInLife) {

                    // if it's aim at someone, create heart
                    if (data.toWhom != -1) {
                        createHeart(data.index, data.toWhom);
                        // final_statistic.totalHeart ++;

                        // if the heart is to ME, display the message
                        if (data.toWhom == whoIamInLife) {
                            var h_f_n = dailyLifePlayerDict[data.index].nname;
                            firstGuy.wordBubble.visible = true;
                            firstGuy.wordTexture.clear('#dc5e64').drawText("You got a heart from " + h_f_n + " <3", undefined, 96, 'white');
                            setTimeout(function() {
                                firstGuy.wordTexture.clear();
                                firstGuy.wordBubble.visible = false;
                            }, 5000);

                            // if( final_statistic.othersToMe[ h_f_n ] == undefined ){
                            // 	final_statistic.othersToMe[ h_f_n ] = 1;
                            // } else {
                            // 	final_statistic.othersToMe[ h_f_n ] ++;
                            // }
                        }
                    }
                    // if it's NOT aim at someone
                    else {
                        // createPoop(poopPos, poopQ);

                        // final_statistic.totalPoop ++;

                        if (dailyLifePlayerDict[data.index])
                            dailyLifePlayerDict[data.index].chew();
                    }
                }
            }

            // GAZE_TO_MOVE, ONLY IF we are in the same world
            if (data.type == 'gazeLength' && data.worldId == meInWorld) {
                if (data.index != whoIamInLife && dailyLifePlayerDict[data.index]) {

                    dailyLifePlayerDict[data.index].gazeDotTargetLength = data.length;

                    if (data.length == -1) {
                        dailyLifePlayerDict[data.index].resetGazeDots();
                    } else {
                        dailyLifePlayerDict[data.index].setGazeDotsRotation(dailyLifePlayerDict[data.target].player.position);
                    }
                }
            }

            // GAZE_TO_MOVE, ONLY IF we are in the same world
            if (data.type == 'gaze' && data.worldId == meInWorld) {
                if (data.index != whoIamInLife && dailyLifePlayerDict[data.index]) {
                    if (data.toWhom == -1) {
                        dailyLifePlayerDict[data.index].closeEye();
                        dailyLifePlayerDict[data.index].resetGazeDots();

                        // someone stop look at me
                        if (data.index == someoneLookingAtMe) {
                            firstGuy.wordTexture.clear();
                            firstGuy.wordBubble.visible = false;
                            someoneLookingAtMe = -1;
                        }
                    } else {
                        dailyLifePlayerDict[data.index].openEye();

                        // someone look at me
                        if (data.toWhom == whoIamInLife) {
                            var h_f_n = dailyLifePlayerDict[data.index].nname;
                            firstGuy.wordBubble.visible = true;
                            firstGuy.wordTexture.clear('#dc5e64').drawText(h_f_n + " is gazing at you <3", undefined, 96, 'white');

                            someoneLookingAtMe = data.index;

                            // setTimeout(function(){
                            // 	firstGuy.wordTexture.clear();
                            // },5000);

                            //
							if( final_statistic.othersLookAtMe[ h_f_n ] == undefined ){
								final_statistic.othersLookAtMe[ h_f_n ] = 1;
							} else {
								final_statistic.othersLookAtMe[ h_f_n ] ++;
							}
                        }
                    }
                }
            }

            // UPDATE_TIME
            if (data.type == 'timestamp') {
                if (data.worldId == meInWorld && dailyLifePlayerDict[data.index]) {
                    dailyLifePlayerDict[data.index].updateTimetag(data.time);
                    dailyLifePlayerDict[data.index].sleeperOrigin = data.origin;
                }
            }

            // BREATHING, TODO: what if in the middle of breathing in history player?
            if (data.type == 'startBreathing' && data.index != whoIamInLife) {
                if (data.worldId == meInWorld && dailyLifePlayerDict[data.index]) {
                    dailyLifePlayerDict[data.index].prepForBreathing();
                    dailyLifePlayerDict[data.index].startBreathing(data.redo);
                }
            }

            //REMOVE_PLAYER
            if (data.type == 'removePlayer') {
                if (data.worldId == meInWorld) {
                    removePlayer(data.removeID);
                    console.log('removePlayer #' + data.removeID);
                }
                console.log("removed; total: " + Object.keys(dailyLifePlayerDict).length);
                UpdatePplCount(Object.keys(dailyLifePlayerDict).length, data.totalCount, fireVisit);
                totalPplInWorldsCount = data.totalCount;
            }

            // ADD_HISTORY_PLAYERS
            // ONE_TIME_EVENT_IN_THE_BEGINNING
            if (data.length > 0 && !updatePreviousPlayer) {

                for (var i = 0; i < data.length; i++) {
                    // console.log("whoIamInLife: " + whoIamInLife + ", get history - id #" + data[i].id + " in world #" + data[i].worldId );

                    // if I'm not the coming player && we are in the same world
                    // this is a history player I want to create!!!
                    if (whoIamInLife != data[i].id && data[i].worldId == meInWorld) {

                        // if(dailyLifePlayerDict[ data[i].id ]){
                        // 	console.log("already exit, so not create history players #" + data[i].id + ", in world #" + data[i].worldId);
                        // } else {
                        var oldPlayerStartPos = new THREE.Vector3(data[i].playerStartX, data[i].playerStartY, data[i].playerStartZ);
                        var oldPlayerStartRotY = data[i].playerStartRotY;
                        var oldHex = data[i].myHex;
                        var oldPlayerID = data[i].id;
                        var oldPlayerName = data[i].nname;

                        // var oldPlayer = new Person( oldPlayerStartPos, oldHex, oldPlayerID, oldPlayerName );
                        // var oldPlayer = new PersonEat( oldPlayerStartPos, new THREE.Color(), oldPlayerID, oldPlayerName, mouth );
                        var oldPlayer = new PersonSleep(oldPlayerStartPos, oldHex, oldPlayerID, oldPlayerName);

                        dailyLifePlayerDict[oldPlayerID] = oldPlayer;
                        console.log("create history players #" + data[i].id + ", in world #" + data[i].worldId);
                        // }															
                    }
                    totalPplInWorldsCount = data[i].totalCount;
                }
                UpdatePplCount(Object.keys(dailyLifePlayerDict).length, totalPplInWorldsCount, fireVisit);
                totalVisitCount = fireVisit;
                updatePreviousPlayer = true;

                final_statistic.sleeperCount = totalPplInWorldsCount;
				final_statistic.totalVisit = fireVisit;
            }
        }

        // ws.onerror = function (msg) {
        // 	console.log(msg);
        // }

        ws.onclose = function (msg) {
        	console.log(msg);

        	/*
        	// if this happens after the phone lock
        	if(!tapIsVisible && !isAllOver) {
        		if(!trulyFullyStart)
        		{
        			if (showAbout) ToggleAbout();
            		if (showInstruction) ToggleInstruction();
            		if (showVRoption) ToggleVR();

		            // Remove Events
			        window.removeEventListener('keydown', myFakeEnter, false);
			        if (!isMobile) {
			            window.removeEventListener('click', closeInfoDiv, false);
			        } else {
			            window.removeEventListener('touchstart', closeInfoDiv, false);
			        }
        		}
        		else if(chooseVRimg)
        		{
        			enterVR.requestExit();
        		}

        		console.log("say goodbye");
	        	infoBG.style.display = "block";
	        	goodbyeMsg.style.display = "block";
	        	aboutPage.style.opacity = 0;

	            setTimeout(function () {
	            	infoBG.style.opacity = 1;
	            	goodbyeMsg.style.opacity = 1;
	            }, 100);

        		renderCanvas.style.opacity = 0;
        		isAllOver = true;
                TweenMax.killAll();
                DoDispose(scene);
        	}
        	*/
        }

        socketOpened = true;
    }

    //SYNCING_ISSUE
    //http://stackoverflow.com/questions/23898477/tornado-websockets-invalidstateerror-still-in-connecting-state
    //but has better solution... e.g. promises
    function sendMessage(msg) {
        waitForSocketConnection(ws, function() {
            ws.send(msg);
        });
    };

    function waitForSocketConnection(socket, callback) {
        setTimeout(
            function() {
                if (socket.readyState === 1) {
                    if (callback !== undefined) {
                        callback();
                    }
                    return;
                } else {
                    waitForSocketConnection(socket, callback);
                }
            }, 5);
    };

    function reloadPage() {
        location.reload(true);
    }
    </script>

    <!-- Libraries -->
    <script type="text/javascript" src="js/lib/howler.js"></script>
    <!-- <script type="text/javascript" src="js/lib/SPE.min.js"></script> -->
    <script type="text/javascript" src="js/lib/BufferLoader.js"></script>
    <!-- <script type="text/javascript" src="js/lib/physi.js"></script> -->
    <!-- <script type="text/javascript" src="js/lib/ImprovedNoise.js"></script> -->
    <!-- <script type="text/javascript" src="js/util/EndArrayPlugin.js"></script> -->

    <script type="text/javascript" src="js/lib/stats.min.js"></script>
    <script type="text/javascript" src="js/lib/threex.dynamictexture.js"></script>


    <script type="text/javascript" src="js/sample.js"></script>
    <!-- <script type="text/javascript" src="js/wave.js"></script> -->
    <script type="text/javascript" src="js/personSleep.js"></script>
    <!-- <script type="text/javascript" src="js/AniObject.js"></script> -->
    <script type="text/javascript" src="js/controls/DeviceControls_vSleep.js"></script>
    <script type="text/javascript" src="js/script_functions.js"></script>
    <script type="text/javascript" src="js/loader_sleep.js"></script>
    <script type="text/javascript" src="js/script_vSleep.js"></script>
    {% for str in data.footer -%}
    <!-- {% autoescape false %}{{ str }}{% endautoescape %} -->
    {%- endfor %} {% for str in data.tag -%} {% autoescape false %}{{ str }}{% endautoescape %} {%- endfor %}
    <script>
    var frameworkJS;
    if(hasInternet && '{% autoescape false %}{{ data.export_to_js }}{% endautoescape %}' != ''){
    	frameworkJS = new Framework('{% autoescape false %}{{ data.export_to_js }}{% endautoescape %}', monCallback);
    	// frameworkJS.track("test_de_statistique"); //exemple de tag
    }
    function monCallback()
    {
    	console.log("ok, now can start");
    	splashPage.style.opacity = 1;
    	aboutPage.style.opacity = 1;
    }
    </script>
</body>

</html>